* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  color: #494e52;
}


.content {
  min-height: calc(100vh - 200px);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #0d47a1;
}

.logo {
  cursor: pointer;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: color 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.cta {
  padding: 9px 25px;
  background-color: #ff6d00;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}

.cta:hover {
  background-color: #03a9f4;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: width 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}

.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
}



/*** Article Content ***/
.article-content {
  margin-left: 2em;
  margin-right: 2em;
}

/**** Title ****/

.title {
  margin-top: 0;
  line-height: 1;
  font-size: 1.56em;
  font-weight: bold;
}

/***** Subtitle *****/

.subtitle p {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f2f3f3;
  font-size: 1.25em;

  line-height: 1.2;
  font-family: "Montserrat", Georgia, Times, serif;
  font-weight: bold;
}

.subtitle::selection {
  color: #fff;
  background: #000;
}

/**** Paragaraph ****/
.paragraph p {
  margin: 0 0 1.3em;
  font-size: 1em;
  font-family: "Libre Franklin", -apple-system, BlinkMacSystemFont, "Roboto",
    "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
  line-height: 1.5;
}

/**** Lists ****/

.list ul {
  list-style: none;
}

/**** Images ****/
img {
  width: 100%;
}

/*** Code ****/
.code {
  width: 100%;
  margin-bottom: 0.5em;
}

code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  background: #263238;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  color: #76ff03;
  font-size: 0.8em;
  line-height: 1.8;
  padding-left: 0.4em;
  padding-right: 0.4em;
  width: 100%;
  font-weight: bold;
}

/*** Article Information ****/

.article-info {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;;
  justify-content: center;
  border-bottom: 1px solid #f2f3f3;
}

.article-info ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.article-info ul li:nth-child(2){
  margin-left: 10px;
}


/**  Comment Section **/
.comments{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em;
}


.comments button{
  width: 100%;
  font-size: 24px;
  text-align: left;
  transition: 0.4s;
  background: #eceff1;  
}
.comments button span{
  margin-right: 30px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  display: none;
}

.comment-form p{
  font-weight: bold;
  color: #000;
 
}

.comment-form input{
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #f5f5f5;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin-top: 10px;
}

.comment-form input[placeholder="Comment"]{
  width: 80%;
  height: 80px;
  resize: none;
}

.comment-list{
  width: 400px;
  display: flex;
  flex-direction: column;
  display: none;
}

.comment {
  display: flex;
  flex-direction: column;;
}

.comment-upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

.comment-lower{
  font-size: 14px;
  border-bottom: 1px solid #f2f2f3;
}

.comment-name{
  font-weight: bold;
}



/*** Article thru scroll ***/
.page-scroll a:hover {
  background-color: #898c8f;
  color: #fff !important;
}


.page-scroll {
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 2em;
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
  border-top: 1px solid #f2f3f3;
  width: 100%;
  padding-top: 1em;
  width: 100%;
}

.page-scroll ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 1em;
  width: 100%;
  justify-content: center;
  padding: 0;
 
}

.page-scroll a {
  padding: 1em 2em;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  line-height: 1.5;
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial,
    sans-serif;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  border: 1px solid #b6b6b6;
}


/*** Footer ***/
.footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  background-color: #f2f3f3;
}

.footer button{
  margin: 0;
  padding: 5px 5px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border: none;
  transition: all ease-in-out 0.3s; 
  opacity: 0.5;
}

.footer button:hover{
  opacity: 1;
}

.copyright, .home{
  font-size: 0.8em;
}

/*** Resposivenes ****/

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  .comments{
    width: 100vw;
    
  }

  .comment-form{
    width: 100vw;
   
  }

  .comment-list{
    width: 100vw;
  }
}

/**** Pagination for Comments ****/

.pagination-page-info {
  padding: .6em;
  padding-left: 0;
  width: 40em;
  margin: .5em;
  margin-left: 0;
  font-size: 12px;
}
.pagination-page-info b {
  color: black;
  background: #6aa6ed;
  padding-left: 2px;
  padding: .1em .25em;
  font-size: 150%;
}


@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}