<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/article.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.png' />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <title>Article</title>
</head>

<body>
    <header article_id={{id}} likes={{likes}}>
        <p style="font-family: 'Orbitron', sans-serif; color: #fff; font-size: 1.5rem;">Data Enthusiast</p>
        <ul class="nav__links">
            <li><a href="#">Login</a></li>
            <li><a href="#">Search</a></li>
            <li><a href="{{url_for('homepage')}}">About</a></li>
        </ul>
        </nav>
        <a class="cta" href="https://www.raj302.com">Contact</a>
        <p class="menu cta">Menu</p>
    </header>
    <div class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="#">Login</a>
            <a href="#">Search</a>
            <a href="{{url_for('homepage')}}">About</a>
        </div>
    </div>
    <div class="article-content">
        <div class="title">
            <p>How to install Flask on a Ubuntu Server</p>
        </div>
        <div class="paragraph">
            <p>
                Installing Flask on a Ubuntu server can be quite a daunting task especially if its your first time
                doing this. I'm going to be using Python 3.6, MySQL V 8.0, uWSGI, nginx, and Ubuntu 18.04 LTS. Typically
                the LTS versions of Ubuntu are much more stable then the regular versions. Just recently Ubuntu 20.04
                came out which has a whole host of some pretty cool features such as faster installation times and
                offering better performance overall. Flask is a popular micro web-framework that allows users to
                quickly build prototypes and run them live on a server. There are other popular frameworks such as
                Django that offers a more of a battery style approach which enables the users to have a more structured
                approach to their projects.
            </p>
        </div>
        <div class="subtitle">
            <p>Getting Started </p>
        </div>
        <div class="paragraph">
            <p>
                Before we go about setting your awesome Flask application, just make sure that you have access to a
                webserver. Digitial Ocean and Linode are great cloud providers and you can spin up your own server
                instance for as low as $5 where I'll be using Linode. Down below is a one of the plans from Linode that
                could get you up and running quickly.
            </p>
        </div>
        <div class="image">
            <img src="{{ url_for('static', filename='images/linode.JPG') }}">
        </div>
        <div class="paragraph">
            <p>
                To begin, <b>SSH</b> into your server instance and you will need to te ip address of your server.
                We'll first login into your root account and then create a separate account that we'll use to put
                to put your Flask application into production. It is not <b>recommended</b> to use your root account
                for this as it poses a security risk if someone gets a hold of your credentials.
            </p>
            <div class="code">
                <code>ssh root@server_ip</code>
            </div>
        </div>
        <div class="paragraph">
            <p>
                Once your logged into your server instance, updates and other upgrades maybe needed to be installed on 
                your server instance. This can be done using a single command coupled with the <b>&&</b> operator which 
                means and. 
            </p>
            <div class="code">
                <code>sudo apt update && apt upgrade</code>
            </div>
        </div>
        <div class="paragraph">
            <p>
                After the updates have been installed, its time to install the various pre-reqiuisties to setup this project. 
                Python 3 should already be installed as it comes with the os bundle. First go ahead and install a basic firewall. 
                There are various firewall packages out and the one I'm going to be using is <b>ufw.</b> The steps below will 
                setup ufw along with the exceptions to allow you to ssh and run your flask application on port 5000 (default port). 
                If ssh isn't allowed, this can prevent you from opening a remote session with your server.

                <div class="code">
                    <div class="multiline">
                        <code>1. sudo apt install ufw</code> <br>
                        <code>2. sudo ufw default allow outgoing</code><br>
                        <code>3. sudo ufw default deny incoming</code><br>
                        <code>4. sudo ufw allow ssh</code><br>
                        <code>5. sudo ufw allow 5000 # Allow flask to run on port 5000</code><br>
                        <code>6. sudo ufw enable</code><br>
                        <code>7. sudo ufw status # Check the allowances</code><br>
                    </div>
                </div>
            </p>
        </div>
       

        <div class="paragraph">
            <p>
                Next up since we don't want to use the root account, we'll go ahead and create a separate user profile. This user 
                will also have <b>sudo</b> privileges so that way you don't need to keep logging into your root account. Once the 
                user account has been setup log out of the root account and into this account.                   
                <div class="code">
                    <code>1. adduser production # Use whatever name you want here </code> <br>
                    <code>2. adduser production sudo </code><br>
                </div>
            </p>
          
        </div>
        <div class="paragraph">
            <p>
               Transfer over your flask project by running the <b>git clone</b> command and the url is to your git repository.
               <div class="code">
                    <code>git clone <i>url</i></code>
               </div>
            </p>
        </div>

        
        <div class="subtitle">
            <p>Setting up Python Virtual Environment</p>
        </div>

        <div class="paragraph">
            <p>Next we're going to be setting up our running pyton virtual environment. Virtual enviroments are a great way 
                to keep dependencies separate from other projects as other projects might run on a different set of requirements. 
                It also makes it easier to run projects on various systems as you can use <b>pip</b> to create a <b>requirements.txt</b>
                file that contains all your python dependencies for your project. The steps below will get your python virtual environment
                all setup. In this setup I'll be calling my virtual environment <b>venv</b>, but your free to call it whatever you like.
                I have a requirements.txt file already but if you don't have one, go ahead 
            </p>

            <div class="code">
                <div class="multiline">
                    <code>1. sudo apt install python3-pip</code> <br>
                    <code>2. sudo apt install python3-venv  </code> <br>
                    <code>3. cd /path/to/project</code><br>
                    <code>4. python3 -m venv <i>venv</i> # Provide a name for your VE  </code> <br>
                    <code>5. source venv/bin/activate </code> <br>
                    <code>6. pip install -r requirements.txt</code>
                </div>
            </div>
        </div>
     
        <div class="article-info">
            <ul>
                <li><b>Categories:</b> Values </li>
                <li><b>Updated</b> May, 15 2020</li>
            </ul>
        </div>
    </div>
    <div class="comments">
        <button class="toggle"><span>+</span>Comments</button>
        <div class="comment-form">
            <p>Leave a comment below</p>
            <form novalidate onsubmit="return false" method="POST">
                <input placeholder="Name" type="text">
                <br>
                <input placeholder="Comment" type="text">
                <br>
                <input type="submit" onclick="updateComment()" value="Post">
            </form>
        </div>

        <div class="comment-list">

            {% for comment in comments %}
            <div class="comment" comment-id={{ comment[1] }}>
                <div class="comment-upper">
                    <p class="comment-name">{{ comment[2] }}</p>
                    <p class="comment-date">{{ comment[3] }}</p>
                </div>
                <div class="comment-lower">
                    <p class="comment-text">{{ comment[4] }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
    {% set lower_id = id-1 %}
    {% set upper_id = id+1 %}


    {% if lower_id >1 %}
    <div class="page-scroll">
        <ul>
            <li> <a href="{{ url_for('article',id=lower_id) }}" style="color: #32859e;">Previous Article</a></i>
            <li><a href="{{ url_for('article',id=upper_id) }}" style="color: #898c8f;">Next Article</a> </li>
        </ul>
    </div>

    {% elif lower_id>1 and upper_id>=max_id %}
    <div class="page-scroll">
        <ul>
            <li> <a href="{{ url_for('article',id=lower_id) }}" style="color: #32859e;">Previous Article</a></i>
            <li><a href="#" style="color: #898c8f;">Next Article</a> </li>
        </ul>
    </div>

    {% else %}
    <div class="page-scroll">
        <ul>
            <li> <a href="{{ url_for('article',id=id) }}" style="color: #32859e;">Previous Article</a></i>
            <li><a href="{{ url_for('article',id=id) }}" style="color: #898c8f;">Next Article</a> </li>
        </ul>
    </div>

    {% endif %}


    <div class="footer">
        <p class="copyright">©2020 Copyright RAJ302.COM</p>
        <p><button onclick="updateLikes()">Like Me</button></p>
        <p class="home"><a href="{{ url_for('homepage') }}">Go Back</a></p>
    </div>
    <script src="{{ url_for('static', filename='js/article.js') }}"> </script>
</body>

</html>