<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='images/favicon.png') }}"
</head>
<body>
    <div class="content">
        <header>
            <p style="font-family: 'Orbitron', sans-serif; color: #fff; font-size: 1.5rem;">Data Enthusiast</p>
            <ul class="nav__links">
                <li><a href="#" onclick="update()">Login</a></li>
                <li><a href="#" onclick="update()">Search</a></li>
                <li><a href="#about" onclick="on()">About</a></li>
            </ul>
            </nav>
            <a class="cta" href="https:///www.raj302.com">Contact</a>
            <p class="menu cta">Menu</p>
        </header>

        <div class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="https://www.raj302.com">Portfolio</a>
                <a href="#" onclick="on()">About</a>
            </div>
        </div>

        <div class="about-overlay" onclick="off()">
            <div class="about-text">
                <p>
                    Welcome to my blog. Here I will post various articles on topics centered around 
                    python, MySQL, and various other technologies. Don't forget to press the like 
                    button. Thanks for stopping by. :) <br><br>
                    
                    <span style="font-size: 12px;">(Click anywhere to close this)</span>
                </p>
            </div>
        </div>




        {% for article_row in articles | batch(3, None) %}
            <div class="article-section">
              {% for article in article_row %}
                
                <div class="card">
                    <div class="card-sect-top">
                    <img src="{{ url_for('static', filename='images/img'+1|string +'.png' )}}" alt="Avatar" style="max-width: 100%; height: auto; ">
                        <div class="card-overlay">
                            <p class="text"> This article will go over how to install a Flask Application on Linux.</p>
                            <div class="card-links">
                                <button class="button go" style="vertical-align: middle;" onclick="location.href='{{ url_for('article', id=article[0]) }}';"><span> Go to Article</span> </button>
                                <button class="button" style="vertical-align: middle;"><span> Copy Link</span> </button>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h4><b>{{ article[1] }}</b></h4>
                        <ul class="card-metrics">
                            <div class="card-metric">
                                <li class="card-desc">Views</li>
                                <li class="card-metric-data">{{ article[2] }}</li>
                            </div>
                            <div class="card-metric">
                                <li class="card-desc">Likes</li>
                                <li class="card-metric-data">{{ article[3] }}</li>
                            </div>
                            <div class="card-metric">
                                <li class="card-desc">Posted</li>
                                <li class="card-metric-data">{{ article[4] }}</li>
                            </div>
                        </ul>
                    </div>
                </div>
         {% endfor %}
        </div>
    {% endfor %}
</div>

      
    <footer class="site-footer">
       <div class="left-footer">
           <p>Copyright © 2020 www.raj302.com</p>
       </div>
       <div class="right-footer">
           <ul class="footer-links">
               <li><img src="{{ url_for('static', filename='images/bitbucket.svg') }}"><span>Bitbucket </span> </li>
               <li><img src="{{ url_for('static', filename='images/github.svg') }}"><span>Github</span> </li>
               <li><img src="{{ url_for('static', filename='images/linkedin.svg') }}"><span>Linkedin</span></li>
               <li><img src="{{ url_for('static', filename='images/portfolio.svg') }}"><span>Portfolio</span></li>
               <li><img src="{{ url_for('static', filename='images/twitter.svg') }}"><span>Twitter</span></li>
           </ul>
       </div>
    </footer>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>