<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blog</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel='shortcut icon' type='image/x-icon' href='favicon.png' />

</head>
<body>
    <div class="content">
        <header>
            <p style="font-family: 'Orbitron', sans-serif; color: #fff; font-size: 1.5rem;">Data Enthusiast</p>
            <ul class="nav__links">
                <li><a href="#">Login</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#about">About</a></li>
            </ul>
            </nav>
            <a class="cta" href="https:///www.raj302.com">Contact</a>
            <p class="menu cta">Menu</p>
        </header>
        <div class="overlay">
            <a class="close">&times;</a>
            <div class="overlay__content">
                <a href="#">Login</a>
                <a href="#">Search</a>
                <a href="#">About</a>
            </div>
        </div>


        {% for article_row in articles | batch(3, None) %}
            <div class="article-section">
              {% for article in article_row %}
                
                <div class="card">
                    <div class="card-sect-top">
                    <img src="{{ url_for('static', filename='images/img'+1|string +'.png' )}}" alt="Avatar" style="max-width: 100%; height: auto; ">
                        <div class="card-overlay">
                            <p class="text"> This article will go over how to install a Flask Application on Linux.</p>
                            <div class="card-links">
                                <button class="button go" style="vertical-align: middle;" onclick="location.href='{{ url_for('article', id=article[0]) }}';"><span> Go to Article</span> </button>
                                <button class="button" style="vertical-align: middle;"><span> Copy Link</span> </button>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <h4><b>{{ article[1] }}</b></h4>
                        <ul class="card-metrics">
                            <div class="card-metric">
                                <li class="card-desc">Views</li>
                                <li class="card-metric-data">{{ article[2] }}</li>
                            </div>
                            <div class="card-metric">
                                <li class="card-desc">Likes</li>
                                <li class="card-metric-data">{{ article[3] }}</li>
                            </div>
                            <div class="card-metric">
                                <li class="card-desc">Posted</li>
                                <li class="card-metric-data">{{ article[4] }}</li>
                            </div>
                        </ul>
                    </div>
                </div>
         {% endfor %}
        </div>
    {% endfor %}
</div>

      
    <footer class="site-footer">
        <div class="footer-level-1">
            <div class="about" id="about">
                <h4>ABOUT</h4>
                <p>Welcome to my blog site. Various articles are posted here
                    that discuss different topics related to web development and
                    data science utilzing Python, MySQL, Linux, HTML, CSS, and
                    JavaScript. Hope you enjoy and feel free to share these posts.
                </p>
            </div>
            <div class="categories">
                <h4>CATEGORIES</h4>
                <ul class="category-list">
                    <li>Python</li>
                    <li>MySQL</li>
                    <li>Linux</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                </ul>
            </div>
            <div class="links">
                <h4>QUICK LINKS</h4>
                <ul class="quick-links">
                    <li><a href="https://www.raj302.com">Contact Me</a></li>
                </ul>
            </div>
        </div>
        <!-- Footer Level 2-->
        <div class="footer-level-2">
            <div class="copyright">
                <p>Copyright © 2020 All Rights Reserved by Raj</p>
            </div>
            <div>
                <ul class="social-icons">
                    <li><a href="https://www.raj302.com"><i class="fa fa-facebook">Portfolio</i></a></li>
                    <li><a href="https://github.com/rajis31"><i class="fa fa-dribbble">Github</i></a></li>
                    <li><a href="https://bitbucket.org/raji31/"><i class="fa fa-dribbble">Bitbuket</i></a></li>
                    <li><a href="https://www.linkedin.com/in/rajsol/"><i class="fa fa-linkedin">Linkedin</i></a></li>
                </ul>
            </div>
        </div>
    </footer>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>